{% extends 'base.html' %}

{% block content %}
<section class="hero column has-background-light is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters-desktop">
          <form class="box" method="POST">
            {% if form.errors %}
            <div class="notification is-danger is-light">
              <p>There were some errors in the information you entered. Please correct the following:</p>
              <br>
              {{ form.non_field_errors }}
              <ul>
                {% for field in form %}
                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            <h3 class="title is-3">Sign up</h3>
            {% csrf_token %}
            <div class="columns">
              <div class="field column">
                <label for="id_username" class="label">Username:</label>
                <div class="control">
                  <input type="text" name="username" maxlength="150" class="input" autofocus required id="id_username">
                </div>
              </div>
              <div class="field column">
                <label for="id_email" class="label">Email:</label>
                <div class="control has-icons-left">
                  <input type="email" name="email" class="input" maxlength="254" required id="id_email">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <small style="color: grey">Required. Inform a valid email address.</small>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="field column">
                <label for="id_first_name" class="label">First name:</label>
                <div class="control">
                  <input type="text" name="first_name" maxlength="30" class="input" id="id_first_name">
                  <small style="color: grey">Optional.</small>
                </div>
              </div>
              <div class="field column">
                <label for="id_last_name" class="label">Last name:</label>
                <div class="controls">
                  <input type="text" name="last_name" maxlength="30" id="id_last_name" class="input">
                  <small style="color: grey">Optional.</small>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="field column">
                <label for="id_password1" class="label">Password:</label>
                <div class="control has-icons-left">
                  <input type="password" name="password1" autocomplete="new-password" class="input" required
                    id="id_password1">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field column">
                <label for="id_password2" class="label">Password confirmation:</label>
                <div class="control has-icons-left">
                  <input type="password" name="password2" class="input" autocomplete="new-password" required
                    id="id_password2">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                  <small style="color: grey">Enter the same password as before, for verification.</small>
                </div>
              </div>
            </div>
            <div class="notification is-light is-info">
              <small>
                <ul style="list-style-type: disc; padding: 0.5rem;">
                  <li>Your password can’t be too similar to your other personal information.</li>
                  <li>Your password must contain at least 8 characters.</li>
                  <li>Your password can’t be a commonly used password.</li>
                  <li>Your password can’t be entirely numeric.</li>
                </ul>
              </small>
            </div>
            <button type="submit" class="button is-success">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}