<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'api_manager/bulma.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'api_manager/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{% static 'api_manager/jquery-3.6.0.min.js' %}"></script>
    <title>API Management System</title>
</head>

<body>
    <header>
        <nav class="navbar has-shadow navbar-padding is-link" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'dashboard' %}">
                    <span class="icon"><i class="fa fa-home"></i></span> <span> Dashboard</span>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-end">
                    <a class="navbar-item is-tab is-hidden-tablet" href="{% url 'all_apis' %}">
                        <span class="icon"><i class="fa fa-list"></i></span> <span>All APIs</span>
                    </a>
                    <a class="navbar-item is-tab is-hidden-tablet" href="{% url 'search' %}">
                        <span class="icon"><i class="fa fa-search"></i></span> <span>Search</span>
                    </a>
                    <a class="navbar-item is-tab is-hidden-tablet" href="{% url 'stats' %}">
                        <span class="icon"><i class="fa fa-info"></i></span> <span>Statistics</span>
                    </a>
                    <a class="navbar-item is-tab" href="{% url 'logout' %}">
                        <span class="icon"><i class="fa fa-sign-out"></i></span> <span>Log out</span>
                    </a>
                </div>
            </div>

        </nav>
    </header>

    <div class="columns">
        {% block sidebar %}
        {% endblock sidebar %}
        <div class="column section is-10 has-background-light" style="min-height:calc(100vh - 3.25rem);">
            <main>
                {% block content %}
                {% endblock content %}
            </main>
        </div>
    </div>
    <footer>

    </footer>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach(function ($el) {
                    $el.addEventListener('click', function () {
                        // Get the target from the "data-target" attribute
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);
                        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });

        // Close button for the notifications
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    const notif = $($notification);
                    notif.css('display', 'none');
                    const del = notif.find('.delete');
                    notif.html("");
                    notif.append(del);
                });
            });
        });

        function setNotification(msg) {
            const notif = $("#notif");
            notif.css('display', 'block');
            const del = notif.find('.delete');
            notif.html(msg);
            notif.append(del);
        }
    </script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>