{% extends "base_main.html" %}

{% block content %}
<div class="columns is-vcentered is-centered">
    <div class="column is-four-fifths" style="margin: 1rem;">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Databse APIs</p>
                    </div>
                    <div class="card-content">
                        <div class="content">{{user.databaseinfo_set.count}}</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Query Methods</p>
                    </div>
                    <div class="card-content">
                        <div class="content">{{user.querymethod_set.count}}</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header ">
                        <p class="card-header-title">Running</p>
                    </div>
                    <div class="card-content">
                        <div class="content">X</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Stopped</p>
                    </div>
                    <div class="card-content">
                        <div class="content">X</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <strong class="is-size-4">Database APIs:</strong>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="{% url 'import_db' %}">
                        <button class="button is-link fa fa-plus"></button>
                    </a>
                </div>
            </div>
        </div>

        {% if user.databaseinfo_set.all %}
        <table class="table is-fullwidth is-striped is-bordered">
            <thead class="has-background-info-light">
                <tr>
                    <th>#</th>
                    <th>Name (EN)</th>
                    <th>Name (FA)</th>
                    <th>Server Name</th>
                    <th>Server IP</th>
                    <th>Port</th>
                    <th>Running</th>

                </tr>
            </thead>
            <tbody>
                {% for db_info in user.databaseinfo_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'database' db_info.pk %}">{{db_info.name_en}}</a></td>
                    <td>{{db_info.name_fa}}</td>
                    <td>{{db_info.server_name}}</td>
                    <td>{{db_info.server_ip}}</td>
                    <td>{{db_info.port_number}}</td>

                    <td>
                        <div class="tag is-success">YES</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="notification is-info is-light" style="border: 1px dashed #22bbff;">
            You haven't added any database yet
        </div>
        {% endif %}

    </div>
</div>
{% endblock content %}