{% extends "base_main.html" %}
{% load tags %}
{% block sidebar %}
{% include "includes/sidebar.html" with active_tab="dashboard" %}
{% endblock sidebar %}
{% block content %}
<div class="columns is-vcentered is-centered">
    <div class="column is-four-fifths" style="margin: 1rem;">
        <div class="notification is-danger" style="display: none;" id="notif">
            <button class="delete"></button>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Database APIs</p>
                    </div>
                    <div class="card-content">
                        <div class="content title is-4">{{user.databaseinfo_set.count}}</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Query Methods</p>
                    </div>
                    <div class="card-content">
                        <div class="content title is-4">{{user.querymethod_set.count}}</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header ">
                        <p class="card-header-title">Running</p>
                    </div>
                    <div class="card-content">
                        <div class="content title is-4">{{ user.databaseinfo_set|count_running }}</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Stopped</p>
                    </div>
                    <div class="card-content">
                        <div class="content title is-4">{{ user.databaseinfo_set|count_stopped }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <strong class="is-size-4">Database APIs:</strong>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="{% url 'import_db' %}">
                        <button class="button is-link fa fa-plus"></button>
                    </a>
                </div>
            </div>
        </div>
        <!-- Generate a table for showing all user databases -->
        {% if user.databaseinfo_set.all %}
        <div class="table-container">
            <table class="table is-fullwidth is-striped is-bordered">
                <thead class="has-background-info-light">
                    <tr>
                        <th>#</th>
                        <th>Name (EN)</th>
                        <th>Name (FA)</th>
                        <th>Server Name</th>
                        <th>Server IP</th>
                        <th>Port</th>
                        <th>Database</th>
                        <th>Health</th>
                        <th>Running</th>

                    </tr>
                </thead>
                <tbody>
                    {% for db_info in user.databaseinfo_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'database' db_info.pk %}">{{db_info.name_en}}</a></td>
                        <td>{{db_info.name_fa}}</td>
                        <td>{{db_info.server_name}}</td>
                        <td>{{db_info.server_ip}}</td>
                        <td>{{db_info.port_number}}</td>
                        <td>{{db_info.db_name}}</td>
                        <td>
                            {% if db_info.docker_id != "" %}
                            {% if db_info.health %}
                            <div class="tag is-success">GOOD</div>
                            {% else %}
                            <div class="tag is-damger">BAD</div>
                            {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if db_info.docker_id != "" %}
                            <div class="tag is-success">YES</div>
                            {% else %}
                            <div class="tag is-danger">NO</div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% else %}
        <div class="notification is-info is-light" style="border: 1px dashed #22bbff;">
            You haven't added any database yet
        </div>
        {% endif %}

    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    // Notify the user if docker is not running
    if ("{{docker_ok}}" == "False")
        setNotification("Docker service is not running!");
</script>
{% endblock scripts %}