{% extends "base_main.html" %}

{% block sidebar %}
{% include "includes/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<section class="section is-fullheight-with-navbar">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-four-fifths-desktop">
                <form class="box" method="POST">
                    {% if form.errors %}
                    <div class="notification is-danger is-light">
                        {{ form.non_field_errors }}
                        <ul>
                            {% for field in form %}
                            {% if field.errors %}
                            <li>
                                {{ field.errors|striptags }}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <h3 class="title is-3">
                        {% if  view.kwargs.method_id  %}
                        Edit Query Method
                        {% else %}
                        Add a New Query Method
                        {% endif %}
                    </h3>
                    {% csrf_token %}
                    <div class="field">
                        <label class="label" for="{{ form.name.id_for_label }}">Name:</label>
                        <div class="control">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ form.query_text.id_for_label }}">Query:</label>
                        <div class="control">
                            {{ form.query_text }}
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            {% if  view.kwargs.method_id  %}
                            <div class="level-item">
                                <a class="button is-danger"
                                    href="{% url 'delete_method' view.kwargs.database_id view.kwargs.method_id %}">
                                    Delete Method
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a href="{{ view.get_success_url }}" class="button">Cancel</a>
                            </div>
                            <div class="level-item">
                                <button class="button is-success" type="submit">
                                    {% if  view.kwargs.method_id  %}
                                    Edit
                                    {% else %}
                                    Add
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}