{% extends "base_main.html" %}

{% block content %}
<section class="section is-fullheight-with-navbar">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters-desktop">
                <form class="box" method="POST">
                    <h3 class="title is-3">
                        {% if  view.kwargs.method_id  %}
                        Edit Query Method
                        {% else %}
                        Add a New Query Method
                        {% endif %}
                    </h3>
                    {% csrf_token %}
                    <div class="field">
                        <label class="label" for="{{ form.name.id_for_label }}">Name:</label>
                        <div class="control">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="{{ form.query_text.id_for_label }}">Query:</label>
                        <div class="control">
                            {{ form.query_text }}
                        </div>
                    </div>
                    <button class="button is-success" type="submit">
                        {% if  view.kwargs.method_id  %}
                        Edit
                        {% else %}
                        Add
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}