{% extends "base_main.html" %}

{% block sidebar %}
{% include "includes/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-four-fifths-desktop">
                <div class="notification is-danger" style="display: none;" id="notif">
                    <button class="delete"></button>
                </div>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h5 class="title is-5">Database API details: </h5>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="level-item" href="{% url 'edit_db' database.pk %}">
                            <button class="button">Edit</button>
                        </a>
                        <a class="level-item is-primary" href="{% url 'gen_config' database.pk %}">
                            <button class="button">Generate Config</button>
                        </a>
                        <a class="level-item is-primary">
                            <button class="button" id="check_health">Check Health</button>
                        </a>

                        {% if database.docker_id != "" %}
                        <div class="level-item">
                            <button class="button is-danger" id="stop_api">Stop</button>
                        </div>
                        {% else %}
                        <div class="level-item">
                            <button class="button is-success" id="run_api">Run</button>
                        </div>
                        {% endif %}

                    </div>
                </div>

                <div class="table-container">
                    <table class="table is-fullwidth is-striped is-bordered">
                        <thead class="has-background-info-light">
                            <tr>
                                <th>Project Name (EN)</th>
                                <th>Project Name (FA)</th>
                                <th>Server Name</th>
                                <th>Server IP</th>
                                <th>Port</th>
                                <th>Database</th>
                                <th>DB Username</th>
                                <th>DB Password</th>
                                <th>Health</th>
                                <th>Running</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{database.name_en}}</td>
                                <td>{{database.name_fa}}</td>
                                <td>{{database.server_name}}</td>
                                <td>{{database.server_ip}}</td>
                                <td>{{database.port_number}}</td>
                                <td>{{database.db_name}}</td>
                                <td>{{database.db_username}}</td>
                                <td>{{database.db_password}}</td>
                                <td>
                                    {% if database.docker_id != "" %}
                                    {% if database.health %}
                                    <div class="tag is-success">GOOD</div>
                                    {% else %}
                                    <div class="tag is-danger">BAD</div>
                                    {% endif %}
                                    {% endif %}

                                </td>
                                <td>
                                    {% if database.docker_id != "" %}
                                    <div class="tag is-success">YES</div>
                                    {% else %}
                                    <div class="tag is-danger">NO</div>
                                    {% endif %}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="title is-5">Shell Command: </h5>
                <div class="highlight">
                    <pre><code>{{database.shell_command}}</code></pre>
                </div>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h5 class="title is-5">Methods ({{database.querymethod_set.count}}):</h5>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a href="{% url 'add_method' database.pk %}">
                                <button class="button is-link fa fa-plus"></button>
                            </a>
                        </div>
                    </div>
                </div>
                {% if database.querymethod_set.all %}
                <div class="table-container">
                    <table class="table is-fullwidth is-striped is-bordered">
                        <thead class="has-background-info-light">
                            <tr>
                                <th>Name</th>
                                <th>Query</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for method in database.querymethod_set.all %}
                            <tr>
                                <td><a href="{% url 'edit_method' database.pk method.pk %}">{{method.name}}</a></td>
                                <td>{{method.query_text}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="notification is-info is-light" style="border: 1px dashed #22bbff;">
                    There is no query method for this database
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}
{% block scripts %}
<script type="text/javascript">
    $("#check_health").click(function () {
        $.ajax({
            dataType: 'json',
            url: "{% url 'check_health' database.pk %}",
            success: function (data) {
                location.reload();
            },
            error: function (data) {
                setNotification("Can't check heatlh'");
            },
        });
    });
    $("#run_api").click(function () {
        $.ajax({
            dataType: 'json',
            url: "{% url 'run_api' database.pk %}",
            success: function (data) {
                if (data.docker_id != "" && data.running) {
                    location.reload();
                } else {
                    setNotification("Can't start API: </br>" + data.error_message);
                }
            },
            error: function (data) {
                setNotification("Can't start API");
            },
        });
    });

    $("#stop_api").click(function () {
        setNotification("Stopping... ");
        $.ajax({
            dataType: 'json',
            url: "{% url 'stop_api' database.pk %}",
            success: function (data) {
                if (data.error) {
                    setNotification(data.error);
                    return;
                }
                console.log(data)
                if (data.running) {
                    setNotification("Can't stop the API, try stopping manually");
                } else {
                    location.reload();
                }
            },
            error: function (data) {
                setNotification("Can't stop API");
            },
        });
    });
</script>
{% endblock scripts %}