{% extends "base_main.html" %}

{% block sidebar %}
{% include "includes/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-four-fifths-desktop">
                <div class="notification is-danger" style="display: none;" id="notif">
                    <button class="delete"></button>
                </div>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h5 class="title is-5">Database API details: </h5>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="level-item" href="{% url 'edit_db' database.pk %}">
                            <button class="button">Edit</button>
                        </a>
                        <a class="level-item is-primary" href="{% url 'gen_config' database.pk %}">
                            <button class="button">Generate Config</button>
                        </a>
                        <a class="level-item is-primary" target="_blank"
                            href="https://{{database.server_ip}}:{{database.server_port}}{{ database.swagger_url }}">
                            <button class="button">Swagger UI</button>
                        </a>
                        <a class="level-item is-primary">
                            <button class="button" id="check_health">Check Health</button>
                        </a>

                    </div>
                </div>

                <div class="table-container">
                    <table class="table is-fullwidth is-striped is-bordered">
                        <thead class="has-background-info-light">
                            <tr>
                                <th>Project Name (EN)</th>
                                <th>Project Name (FA)</th>
                                <th>Server Name</th>
                                <th>Server IP</th>
                                <th>Port</th>
                                <th>Database</th>
                                <th>DB Username</th>
                                <th>DB Password</th>
                                <th>Health</th>
                                <th>Running</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{database.name_en}}</td>
                                <td>{{database.name_fa}}</td>
                                <td>{{database.server_name}}</td>
                                <td>{{database.server_ip}}</td>
                                <td>{{database.server_port}}</td>
                                <td>{{database.db_name}}</td>
                                <td>{{database.db_username}}</td>
                                <td>{{database.db_password}}</td>
                                <td>

                                    <!-- CHECK FOR HEALTH -->
                                    {% if None %}
                                    <div class="tag is-success">GOOD</div>
                                    {% else %}
                                    <div class="tag is-danger">BAD</div>
                                    {% endif %}

                                </td>
                                <td>
                                    <a href="">
                                        <!-- CHECK FOR RUNNING STATUS -->
                                        {% if None %}
                                        <div class="tag is-success">YES</div>
                                        {% else %}
                                        <div class="tag is-danger">NO</div>
                                        {% endif %}
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="title is-5">Shell Command: </h5>
                <div class="highlight">
                    <pre><code>{{database.shell_command}}</code></pre>
                </div>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h5 class="title is-5">Methods ({{database.querymethod_set.count}}):</h5>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-right">
                            {% if database.querymethod_set.all %}
                            <div class="level-item">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="download_csv" value="download_csv">
                                    <button class="button is-info" type="submit">
                                        <span>Download Report</span>
                                    </button>
                                </form>
                            </div>
                            <div class="level-item">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="print_results" value="print_results">
                                    <button class="button is-info" type="submit">
                                        <span>Print</span>
                                    </button>
                                </form>
                            </div>
                            {% endif %}
                            <div class="level-item">
                                <a href="{% url 'add_method' database.pk %}">
                                    <button class="button is-link fa fa-plus"></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if database.querymethod_set.all %}
                <div class="table-container">
                    <table class="table is-fullwidth is-striped is-bordered">
                        <thead class="has-background-info-light">
                            <tr>
                                <th>Name</th>
                                <th>Query</th>
                                <th>Run</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for method in database.querymethod_set.all %}
                            <tr>
                                <td><a href="{% url 'edit_method' database.pk method.pk %}">{{method.name}}</a></td>
                                <td class="grow">{{method.query_text}}</td>
                                <td>
                                    <a target="_blank"
                                        href="https://{{database.server_ip}}:{{database.server_port}}{{ database.swagger_url }}">
                                        <button class="button fa fa-play"></button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="notification is-info is-light" style="border: 1px dashed #22bbff;">
                    There is no query method for this database
                </div>
                {% endif %}

            </div>
        </div>
</section>

{% endblock content %}
{% block scripts %}

{% endblock scripts %}